body{
  background: linear-gradient(65deg,   #3f89aa);
}
.img-gallery{
    width:100%;
    margin:100px auto 50px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    size:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-gallery img{
    width:20%;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 1px;
    border:solid 1px;
    border-color:white;
  }
  #picture{
    width: 300px;
    margin: 5px;
    border: 2px solid #f7f2eb; 
    padding: 0px; 
  }